header {
  @include flexCenter(row, space-around);
  flex-wrap: wrap;
  height: 10vh;
  width: 100vw;
  background-color: whitesmoke;
  padding: 0.4rem;
  position: sticky;
  top: 0;
  z-index: 9;
  @include mobile-500 {
    height: 8vh;
  }
  .logo {
    margin: 0;
    @include mobile-500 {
      position: absolute;
      top: 1em;
      left: 1em;
    }
  }
  .img-logo {
    width: 5em;
    height: 4em;
    @include mobile-500 {
      width: 3em;
      height: 2em;
    }
  }
  #input-search {
    width: 32vw;
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    height: 6vh;
    background-color: $ternary-color;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.8rem 2.4rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 0.4rem solid transparent;
    outline: 0;
    margin-bottom: 2rem;
    @include mobile-500 {
      position: absolute;
      bottom: 0rem;
      top: 0.8rem;
      left: 6rem;
      width: 10rem;
      height: 2.4rem;
    }
    @include mobile-300 {
      width: 8rem;
    }
  }
  ul {
    margin-top: -2rem;
    @include mobile-878 {
      position: fixed;
      margin-top: 90vh;
      margin-left: -30vw;
      @include spread(70%, 98vh);
      padding-top: 0rem;
      @include flexCenter(column, space-around);
      z-index: 10;
      transition: 0.7s ease-in-out;
    }
    li {
      list-style: none;
      display: inline-block;
      padding: 0rem 1rem;
      font-size: 1.2rem;
      .menu {
        @include mobile-878 {
          position: absolute;
          top: 7vh;
          right: 1rem;
          width: 2rem;
          height: 2rem;
        }
      }
      a {
        padding: 10px 20px 10px 20px;
        border-radius: 20px;
        transition: 0.7s;
        &:hover {
          @include colour($secondary-color, $primary-color);
        }
      }
    }
  }
  .cart-icon {
    position: relative;
    margin-top: -2rem;
    @include mobile-500 {
      top: -1rem;
      right: -3.2rem;
    }
    span {
      @include colour(white, $text-color);
      border-radius: 50%;
      position: absolute;
      bottom: 25px;
      right: 6px;
      font-weight: bold;
      padding: 4px;
      font-size: 12px;
      @include mobile-500 {
        bottom: -27px;
        right: 27px;
        padding: 3px;
        z-index: 1;
      }
    }
  }
}

.menu {
  display: none;
  @include mobile-878 {
    display: block;
    cursor: pointer;
  }
  @include mobile-500 {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  img {
    width: 1.6rem;
  }
}
