@import "./global";
@import "./header";
@import "./home";
@import "./footer";
@import "./products";
@import "./details";
@import "./cart";
@import "./register";
@import "./profile";
@import "./error";

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
